@import "imports/settings";

@import "normalize";
@import "foundation/components/grid";

$include-html-type-classes: $include-html-classes;

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.at4-share-outer {
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;

	&.loaded {
		opacity: 1;
	}
}

.video-container {
	.video {
		//max-width: 1280px;

		/* video width */
		//max-height: 720px;

		/* video height */

		iframe {
			width: 320px;
			height: 180px;
			margin: auto;
			display: block;

			@media (min-width: 480px) {
				width: 480px;
				height: 270px;
			}

			@media (min-width: 720px) {
				width: 720px;
				height: 405px;
			}

			@media (min-width: 1024px) {
				width: 1024px;
				height: 576px;
			}

			@media (min-width: 1152px) {
				width: 1152px;
				height: 648px;
			}

			@media (min-width: 1280px) {
				width: 1280px;
				height: 720px;
			}

			@media (min-width: 1408px) {
				width: 1408px;
				height: 792px;
			}
		}
	}
}

.video-js {
	background: #312F31;
}