// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
/*-------------------------------------------
    Bootstrap Configuration
    variables are in node_modules/bootstrap/scss/_variables.scss
-------------------------------------------*/

// Color system
$gold: #ffcd00;
$highlight: $gold;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #151515;
$black: #000;

$gray: #63666A;
$light: $gray-100;
$dark: $gray-900;
// Link color
$link-color: #000;

$primary: $gold;
// Body
$body-bg: #f2ede3;

$fa-font-path: "../fonts";

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (sm: 540px,
md: 730px,
lg: 960px,
xl: 1200px);

// Spacing
$spacer: 1rem;
$spacers: (6: ($spacer * 4.5),
7: ($spacer * 6),
8: ($spacer * 9),
9: ($spacer * 12));


// Fonts
$enable-responsive-font-sizes: true;
$font-family-base: Roboto,
sans-serif;
$headings-font-family: Roboto Condensed,
sans-serif;
$font-size-base: 1.3rem;
$line-height-base: 1.6;
$headings-font-weight: 700;
$headings-margin-bottom: $spacer / 1;


$border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

$modal-content-border-radius: 0;
$modal-content-inner-border-radius: 0;

// Jumbotron
$jumbotron-padding: 6rem;
$jumbotron-color: #333;
$jumbotron-bg: #f6f9fc;


// Cards
$card-border-radius: 2px;
$card-border-color: darken($highlight, 5%);

$hr-margin-y: $spacer * 2;

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//
// Custom styles
//

@import "icon-list";
@import "components/main-image";
@import "components/spotlight";
@import "components/garland";

