assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
cms/
framework/
themes/simple/
themes/tutorial/
spamprotection/
vendor/composer
vendor/autoload.php
recaptcha/
bootstrap_forms/
