RewriteRule ^2014$ - [L]
RewriteRule ^2014/.* - [L]
RewriteRule ^2015$ - [L]
RewriteRule ^2015/.* - [L]
RewriteRule ^2016$ - [L]
RewriteRule ^2016/.* - [L]
RewriteRule ^2017$ - [L]
RewriteRule ^2017/.* - [L]
RewriteRule ^2019$ - [L]
RewriteRule ^2019/.* - [L]
RewriteRule ^2020$ - [L]
RewriteRule ^2020/.* - [L]
RewriteEngine On
RewriteRule ^(.*)$ public/$1
