input.action{
	@include button-style;
	@include button;
	//font-size: rem-calc(43);
}

.field.file{

	background: #eee;
	border: #ccc 1px solid;
	padding: rem-calc(20);
	margin-bottom: rem-calc(20);
}

.Actions{
	text-align: center;
	margin: rem-calc(20) 0;
}