body{
	opacity: 1;
	transition: opacity linear 5s;
}
body.loading{
	opacity: 0;
}

h1,h2,h3,h4,h5,h6{
	letter-spacing: 3px;
}


.hc-sticky{
	@include breakpoint(large){
		position: -webkit-sticky;
		top: 0;
	}
}
.unstyled-list{
	list-style-type: none;
	margin: 0;
}
.caret-link {
	&:after {
		@include css-triangle(4px, $primary-color, right);

		margin-left: 7px;
		display: inline-block;
	}
}


.back-button{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(#fff, 1);
	text-transform: uppercase;
	font-weight: bold;
	padding: rem-calc(10);
	font-size: rem-calc(13);
	z-index: 99;
	@include breakpoint(large){
		font-size: rem-calc(16);
	}
}


.addthis_inline_share_toolbox, .addthis_toolbox{
	text-align: center;
	padding-top: rem-calc(20);
}	

.addthis_toolbox__container{
	text-align: center;
}

.addthis_toolbox{
	display: inline-block;
}
.main{
	background: white;
	z-index: 99;
	position: relative;
	
}

.card{
	canvas{
		position: absolute;
	}
}

.image-header{
	width: 100%;
	display: block;
	// padding: rem-calc(20) 0;

	&__container{
		// max-width: rem-calc(1400);
		margin: auto;
	}
}

.main{
	background-image: url('../images/table-bg2.jpg');
	background-size: cover;
	background-color: #222;
}
.main-content{
	color: white;
	padding: rem-calc(40) 0;

	&__media{
		margin-top: rem-calc(40);
		-webkit-box-shadow: 0px 0px 71px 1px rgba(0,0,0,0.86);
		-moz-box-shadow: 0px 0px 71px 1px rgba(0,0,0,0.86);
		box-shadow: 0px 0px 71px 1px rgba(0,0,0,0.86);

		img{
			width: 100%;
		}
	}
	&__container{

		z-index: 98;
		position: relative;
	}

	&__screen{
 		position: absolute; 
 		width: 100%; 
 		height: 100%; 
 		background: rgba(34, 34, 34, 0.65); 
 		z-index: 97;		
	}
	&__header{
		text-align: center;
		font-style: italic;

		@include breakpoint(large){
			font-size: rem-calc(72);
		}
		margin-bottom: 0;
		text-shadow: 0px 0px 40px rgba(20, 20, 20, 1);
		color: white;
	}

	&__signature{
		font-style: italic;
		color: #f6d24e;
		text-align: center;
		font-size: rem-calc(28);
		margin-top: rem-calc(40);
		// margin-bottom: rem-calc(70);

		@include breakpoint(medium){
			font-size: rem-calc(48);

		}
		@include breakpoint(large){
			font-size: rem-calc(64);
			margin-top: rem-calc(80);
			// margin-bottom: rem-calc(150);
		}
	}

	&__body{
		padding: rem-calc(40) 0;
		text-align: justify;

	}


	&--with-padding{
		padding: rem-calc(40) rem-calc(10);
		@include breakpoint(large){
			// margin-top: rem-calc(-100);
			padding: rem-calc(100) rem-calc(40);
			// padding-top: rem-calc(100);
			// padding-top: rem-calc(100);
		}
	}

}



.recipe{
	margin: rem-calc(60) 0;
	&__container{
		// background-image: url('../images/table-bg.jpg');
		// background: black;
		// background-size: cover;
	}
	background-color: white;
	background-image: url('../images/card-bg.png');
	padding: rem-calc(40);
	position: relative;
	@include breakpoint(large){
		// margin-top: rem-calc(-50);
		z-index: 999;
	}
	&__header{
		//text-decoration: underline;
		border-bottom: 2px solid #666;

		&--print{
			font-size: rem-calc(32);
		}
	}
	&__ingredients{
	-moz-column-count: 2;
	   -moz-column-gap: 20px;
	   -moz-column-fill: auto;
	   -webkit-column-count: 2;
	   -webkit-column-gap: 20px;
	   -webkit-column-fill: auto;
	   column-count: 2;
	   column-gap: 20px;
	   column-fill: auto;
	   font-family: $header-font-family;

	   &--print{
	   	font-size: rem-calc(12);
	   }
	}

	&__body{
		font-size: rem-calc(19);
	}

	&__sidebar{
		margin: rem-calc(20) 0;
		text-align: center;
		i{
			margin-right: rem-calc(2);
		}
	}

}

.submit{
	&__container{
		margin: rem-calc(60) 0;
	}
}

.image-screen{
	width: 100%;
	height: 100%;
	background-color: rgba(#222, 0.6);
	position: absolute;
	opacity: 0;
	transition: 0.3s all linear;

	&--darker{
		background-color: rgba(#222, 0.7);
	}
}

.heading{
	font-weight: bold;
	&--small{
		text-transform: uppercase;
		font-size: rem-calc(16);
	}
	&--centered{
		text-align: center;
	}
}

.button{
	display: inline-block;
	background: rgba(#fff, 1);
	padding: rem-calc(8);
	text-transform: uppercase;
	font-weight: bold;
	
	font-size: rem-calc(13);

	@include breakpoint(large){
		padding: rem-calc(10);
		font-size: rem-calc(16);
	}

	&--nav{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
	}

	&--sound{
		position: fixed;
		top: 0;
		left: 0;
		z-index:999;
		background: none;	
		font-size: rem-calc(15);
		display: none;
		@include breakpoint(large){
			display: inline-block;
			font-size: rem-calc(17);
		}	
	}
}

