.unstyled-list{
	list-style-type: none;
	margin: 0;
}
.caret-link {
	&:after {
		@include css-triangle(4px, $primary-color, right);

		margin-left: 7px;
		display: inline-block;
	}
}



.addthis_inline_share_toolbox{
	text-align: center;
	padding-top: rem-calc(20);
}	
.main{
	background: white;
	z-index: 99;
	position: relative;
	padding-top: rem-calc(40);
}

.card{
	canvas{
		position: absolute;
	}
}

.image-header{
	width: 100%;
	display: block;
	// padding: rem-calc(20) 0;

	&__container{
		// max-width: rem-calc(1400);
		margin: auto;
	}
}

.main-content{
	@include grid-column(12);
	@include breakpoint(large){
		@include grid-column(8);
		@include grid-column-position(center);
	}

	&__header{
		text-align: center;
	}

	&__container{
		@include grid-row;
	}




}

.image-screen{
	width: 100%;
	height: 100%;
	background-color: rgba(#222, 0.3);
	position: absolute;
	opacity: 0;
	transition: 0.3s all linear;

	&--darker{
		background-color: rgba(#222, 0.6);
	}
}

.heading{
	font-weight: bold;
	&--small{
		text-transform: uppercase;
		font-size: rem-calc(16);
	}
	&--centered{
		text-align: center;
	}
}


.building-grid{
	&__column{
		
	}

	&__header{
		color: white;
		position: absolute;
		top: 40%;
		width: 100%;
		text-align: center;
	}

	&__link{
		display: block;
		position: relative;
		color: white;
		&:hover{
			.image-screen{
				opacity: 1;
			}
		}

	}

	&__image{
		display: block;
		margin-bottom: rem-calc(30);
		// padding: rem-calc(20) 0;
	}

	&--padding{
		border-top: 1px solid #eee;
		padding-top: rem-calc(50);
		margin-top: rem-calc(150);
		// padding-bottom: rem-calc(50);
	}
}