.footer{
	padding-top: rem-calc(60);
	padding-bottom: rem-calc(40);
	&__logo{
		max-width: 300px;
		display: block;
		margin: auto;
		padding: rem-calc(80) 0;
		width: 100%;

		&--print{
			width: 33%;
			padding: rem-calc(20) 0;
		}
	}

	&__credit{
		text-align: center;
		font-style: italic;
	}
}