h1{
	font-style: italic;
	text-align: center;
}

h2 {

}

h1, h2, h3 {
	font-family: 'Merriweather', serif;
}

body{
	background: #010101;
	font-family: 'Helvetica', 'Arial', sans;
	color: white;
}
@media only screen and (max-width: 400px) {
	body { font-size:90%;}
}
@media only screen and (max-width: 800px) {
	body { font-size:100%;}
}  
 
@media only screen and (max-width: 1100px) {
    body { font-size:120%;}
} 

@media only screen and (min-width: 1100px) {
	body { font-size:120%;}
}


a{
	color: #fff2bb;
}



#card {
	background-image: url('../images/alluncovered.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #000;
	border: none;
}

#card.card-custom {
	background-size: cover;
}

.allcovered {
	background-color: red;
}

.uncovered1 {
	background-image: url('/images/uncovered2.png');
}

.uncovered2 {
	background-image: url('/images/uncovered3.png');
}

.uncovered3 {
	background-image: url('/images/uncovered4.png');
}

/* Slider styles */
.carousel .item {-webkit-transition: opacity 1s; -moz-transition: opacity 1s; -ms-transition: opacity 1s; -o-transition: opacity 1s; transition: opacity 1s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}