body{
	background: #010101;
	font-family: 'Helvetica', 'Arial', sans;
	color: white;
}

a{
	color: #fff2bb;
}

/* Slider styles */
.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}