h1{
	font-style: italic;
	text-align: center;
	margin: 2% 0;
}

h2 {

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Merriweather', serif;

}

hr {
	border-top: 1px solid #D2B355;
}

body{
	background: #010101;
	font-family: 'Merriweather', serif;
	color: white;
	font-size: 13px;
}
@media only screen and (min-width: 480px) {
	body { font-size: 14px}

}
@media only screen and (min-width: 768px) {
	body { font-size: 16px}
}  
 
@media only screen and (min-width: 1100px) {
    body { font-size: 18px}
} 



a{
	color: #fff2bb;
}

a:hover {
	color: #fff9de;
	text-decoration: none;
}



#card {
	background-image: url('../images/alluncovered.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #000;
	border: none;
}

#card.homepage {
	margin-top: 3%;
}

#card.card-custom, .card-list li {
	background-size: 70%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.allcovered {
	background-color: red;
}

.uncovered1 {
	background-image: url('/images/uncovered2.png');
}

.uncovered2 {
	background-image: url('/images/uncovered3.png');
}

.uncovered3 {
	background-image: url('/images/uncovered4.png');
}

.send-your-own {
	display: none;
	position: relative;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.86);
}  

.send-your-own p{
	text-align: center;
}

.steps {
	margin: 0;
	padding: 0;
	margin-bottom: 5%;
	font-size: 1.1em;
	text-align: center;

}

.steps li {
	list-style-type: none;
	margin: 0.5em 0;
}

.steps strong {
	color: #FEFBDD;
}

.card-list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: justify;
}
.card-list:after { /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
	content: '';
	display: inline-block;
	width: 100%;
}
.card-list li {
	margin-bottom: 0.8em;
	vertical-align: top;
	text-align: left;
	background-image: url('../images/previewmask.png');
	border: 1px solid #303030;
}

@media screen and (min-width: 550px) {
	.card-list li {
		display: inline-block;
		width: 48%;
	}
}

@media screen and (min-width: 1024px) {
	.card-list li {
		width: 32%;

	}
}

@media screen and (min-width: 1200px) {
	.card-list li {
		width: 24%;
	}
}
.card-list li img {
	width: 100%;
}
.card-list li.see-all {
	background: none;
	border: none;
}
.card-list li.see-all a{
	margin-top: 25%;
	font-size: 2.5em;
	display: block;
	text-align: center;
}

.card-list li.card-form {
	background: none;
	border: 0;
}
.card-list .filler {
	height: 0;
	margin: 0;
	border: none;
}

/* Slider styles */
.carousel .item {-webkit-transition: opacity 1s; -moz-transition: opacity 1s; -ms-transition: opacity 1s; -o-transition: opacity 1s; transition: opacity 1s;}
.carousel .active.left {left:0;opacity:0;z-index:2; }
.carousel .next {left:0;opacity:1;z-index:1;}

/* Card Form */

#CardForm_CardForm {
	background: rgba(0,0,0,0.2);
	font-family: 'Merriweather', serif;
	font-size: 0.8em;
}
#CardForm_CardForm label {
	margin: 0.4em 0;
	font-weight: normal;
	text-align: center;
	background: rgba(0,0,0,0.5);
	text-align: center;
}

#CardForm_CardForm #SenderName label {
	margin-top: 0;
}

#CardForm_CardForm input {
	width: 100%;
}

#CardForm_CardForm_action_doCreateCard {
	background: #D2B355;
	color: #333;
	border: none;
}
#CardForm_CardForm .Actions {
	margin-top: 4%;
}
@media screen and (min-width: 1200px) {
	#CardForm_CardForm .Actions {
		/*margin-top: 22%;*/
	}
}

/* Footer */

footer {
	display: none;
	border-top: 1px solid #665c3c;
	padding-top: 1em;
	font-size: 0.6em;
}


/* Social Media */

.share-links {
	display: none;
}
@media screen and (min-width: 768px) {
.share-links {
	display: block;
}

}

.addthis_toolbox {

}

.addthis_floating_style {
	background: none !important;
	display: none;

}

.addthis_floating_style.addthis_32x32_style {
	top: 15% !important;
	left: -0.5% !important;
}

.at3winwrapper {
	color: #333;
}
