.arrow {
	position: fixed;
	z-index: 99;
	width: 100%;
	bottom: 0;
	transition: all 0.5s linear;

	&__container {
		border-radius: 50%;
		width: 150px;
		height: 150px;
		margin: auto;
		background: rgba(#eee, 0.6);
	}

	&__img {
		display: block;
		width: 100px;
		height: 150px;
		margin: auto;
		fill: #4f453a;
	}
}