.arrow{
	position: fixed;
	z-index:99;
	width: 100%;
	bottom: 0;

	&__container{
		border-radius: 50%;
  		width: 200px;
  		height: 200px;
  		margin: auto;
  		background: rgba(255,255,255,0.4);
	}
	&__img{
		display: block;
		width: 150px;
		padding-top: 25px;
		height: 150px;
		margin: auto;
		fill: #333;

	}
}