.card{

}

.card-front{
	&__video{
		width: 100%;
		height: auto;
	}

}

.card-back {
  &__img {
    background: #f2ede3;
    width: 100%;
    padding: 30px 50px; 
    @media (min-width: 768px) {
      padding: 100px 200px;
    }
  }
}
