.parallax__container, .parallax__layer {
	height: 1000px;
}

.parallax__layer{
	background-position: bottom center;
	background-size: auto 1300px;
	background-repeat: no-repeat;
	width: 100%;
	//position: absolute;
	position: fixed;
}

//"furthest" layer aka sky/backrop
.parallax__layer--0 {
	background-image: url('../images/parallax/parallax0.png');
	background-color: #fff;
}
.parallax__layer--1 {
	background-image: url('../images/parallax/parallax1.png');
}
.parallax__layer--2 {
	background-image: url('../images/parallax/parallax2.png');
}
.parallax__layer--3 {
	background-image: url('../images/parallax/parallax3.png');
}
.parallax__layer--4 {
	background-image: url('../images/parallax/parallax4.png');
}
.parallax__layer--5 {
	background-image: url('../images/parallax/parallax5.png');
}
.parallax__layer--6 {
	background-image: url('../images/parallax/parallax6.png');
}
// .parallax__layer--7 {
// 	background-image: url('../images/parallax/parallax7.png');
// }

//"closest layer aka old cap/frontmost elements"
// .parallax__layer--8 {
// 	background-image: url('../images/parallax/parallax8.png');
// }