.submissions-carousel{


	&__header{
		text-align: center;
		margin: rem-calc(20) 0;
	}

	&__card{
		height: rem-calc(500);
		width: rem-calc(500);
		background-size: cover;
		margin-right: rem-calc(20);
		border-radius: 5px;
	}


}
